---
layout: default
title: ADDOPTML
description: Designed to build lightning fast websites

features:
 - title: MX3D
   text: Bridge Tim Geurtjens.
   img: /assets/imgs/carousel/MX3D_Bridge_Tim_Geurtjens.jpg
   link: #
 - title: IDONIAL
   text: 3d Printing
   img: /assets/imgs/carousel/idonial.jpg
   link: #
 - title: Politecnico Di Torino
   text: Text for here
   img: /assets/imgs/carousel/politecnico_di_torino.jpg
   link: #
 - title: University of Cyprus
   text: Department of Architecture
   img: /assets/imgs/carousel/ucy-department-of-architecture.jpg
   link: #  
 - title: Vrije Universiteit Brussel
   text: 
   img: /assets/imgs/carousel/universiteit_brussel.jpg
   link: # 
 - title: University of Stuttgart
   text: 
   img: /assets/imgs/carousel/university_of_stuttgart.jpg
   link: # 

members:
 - title: NTUA,
   subtitle: Structural Engineering Department
   text: The facilities of the Structural Engineering Department of NTUA that will host the seconded personnel, comprise a 6 DOF earthquake simulator, two smaller one DOF shaking tables, reaction walls for testing RC and steel structures and all available software codes for addressing the most demanding computer simulation of any type of structures under severe seismic actions. In addition, the newly established “Inter-university Center for the Development of High Value-Added Processes and Products from the Recovery/Exploitation of Waste” of NTUA has a state-of-the-art metal powder pelletizer and a metal 3D printer. The Department’s infrastructure with PC Labs and office spaces is adequate to accommodate staff from the seconded personnel of the Network.
   img: /assets/imgs/members/ntua.jpg
 - title: POLITO
   subtitle:
   text: POLITO has been one of the most prestigious public institutions at both the International and the Italian levels concerning education, research, technological transfer and services in all sectors of architecture and engineering. The facilities of the beneficiary consist of offices to host students and researchers as well as materials and structures laboratory testing facilities with optimization toolkits realized by the research group and additional commercial software licenses for scientific computing.
   img: /assets/imgs/members/polito.png
 - title: UCY,
   subtitle: Department of Architecture
   text: UCY is a public entity entrusted with educating scientists for the competitive European environment. It has a firm commitment to research, having acquired a newly constructed campus with extensive infrastructure, laboratory space and state-of-the-art computing facilities. The School of Engineering itself is a dynamic and stimulating multi-disciplinary environment that has been established in 2001 and is since then rapidly growing.
   img: /assets/imgs/members/ucy.png
 - title: USTUTT
   subtitle:
   text: USTUTT is one of the leading technically oriented universities in Germany. It sees itself as a center of university-based, non-university, and industrial research. The facilities of the University consist of offices to host students and researchers as well as a large metal workshop for all of the institute’s tasks related to steel, iron, non-ferrous and aluminium processing.
   img: /assets/imgs/members/ustutt.png 
 - title: IDEA75
   subtitle:
   text: IDEA75 is an innovative SME specialized in Design and Installation of Industry 4.0 solutions based on AI. IDEA75 has offices fully equipped to host students/researchers and it is also a member of I4M lab, a public-private lab which includes the "Politecnico di Bari" and has an active partnership with the Rome University "La Sapienza". Infrastructures, 5000 core clusters for distributed and parallel computing. Matlab and Simulink, SDK (PIC32-MAXI-WEB, MPLAB, PIC-KIT3, Texas In. TMDX28069USB e CC2531EMK) for algorithm design, implementation and code generation.
   img: /assets/imgs/members/idea75.png
 - title: SPACEAPPS
   subtitle:
   text: SPACEAPPS facilities consist of a general and Avionics laboratory, a Robotics laboratory with tools available to test and operate a range of robotic systems, a Clean Room compliant with ISO14644 Standard, Visual navigation test and simulation facilities, Exploration analogue Control Centre Habitat and finally an ICE Cubes-mission control centre.
   img: /assets/imgs/members/spaceapplications.png
 - title: IDONIAL
   subtitle:
   text: IDONIAL has three different working centres. One is devoted to advanced manufacturing technologies, with a large workshop of 3D printing machines of PBF-LB metal equipment (EOS M270, EOS M280), FFF/Material Jetting/SLS plastic and resin ones, and conventional support technologies like CNC centres. In addition, a pilot large-scale versatile 3-axis printer with custom developed nozzle for deposition of concrete-like materials for printing of large-scale parts for AECI. It also counts with a design, simulation and engineering department (Software - MAGICS, CAD/CAM, CATIA, etc.), materials development department, and areas for post-processing, being able to cover all segments of the AM production value chain.
   img: /assets/imgs/members/idonial.png
 - title: EWF,
   subtitle: European Federation for Welding
   text: European Federation for Welding and Cutting membership includes approximately 50,000 companies where around 75% are SMEs (approximately 37,500). EWF’s infrastructure with PC Labs and office spaces is adequate to accommodate staff from the seconded personnel of the Network. In particular, EWF will provide all seconded staff with dedicated office space and a personal computer for them to be able to conduct their research.
   img: /assets/imgs/members/efw.png
 - title: MX3D
   subtitle:
   text: MX3D with 9 industrial robots, MX3D has a large R&D and production facility including both different industrial robots and welding technologies. The experienced and skilled team consists of design engineers, robotics engineers, material/welding experts, software developers, business developers and production team to effectively work from a design idea to printed object. Via diverse large research projects, MX3D is used to working in large collaboration (e.g. MX3D Bridge and INTEGRADDE).
   img: /assets/imgs/members/mx3d.png
 - title: STRUCTURES & SENSORS
   subtitle:
   text: STRUCTURES & SENSORS is a start-up company that develops hardware and software solutions for applications in Structural Health Monitoring. The main equipment provided by S&S consists of measuring equipment (more than 30 accelerographs and sensors), deployable hardware for IoT and custom monitoring solutions as well as structural engineering software.
   img: /assets/imgs/members/unquake.png  
 - title: RISA
   subtitle:
   text: RISA is a leading vendor of large IT platform solutions. The main equipment provided by RISE consists of servers and workstations for running models and for data processing. This equipment is complemented by various wired and wireless networking solutions.
   img: /assets/imgs/members/risa.png  
 - title: VUB
   subtitle:
   text: VUB The main equipment provided by RISE consists of large lab with state-of-the-art equipment for mechanical testing of materials and structures (uni-/biaxial, tension-torsion, static and fatigue); equipped with non-destructive monitoring techniques (e.g. full field optical displacement measurement by Digital Image Correlation - DIC) and facilities for prototyping (incl. 3D printing). VUB’s infrastructure with PC lab equipped with commercial software for numerical modelling and office space adequate to host seconded students/researchers.
   img: /assets/imgs/members/vub.png      
 - title: INFERSENCE
   subtitle:
   text: INFERSENCE is a start-up company that focuses on development and consultation with respect to applied machine learning and optimization methodologies in client processes. In-house developed applications and expertise of INFERSENCE are provided for the implementation of the project along with equipped open-space offices for hosting seconded personnel.
   img: /assets/imgs/members/Infersence.png
 - title: JUST,
   subtitle: Civil Engineering Department
   text: The Civil Engineering Department of the Jordan University of Science and Technology that participates to the Network has a Structural Lab has the following equipment, 1200 kN universal testing machine, 2000 kN universal testing machine, 4000 kN universal testing machine, strong floor and portal frame, static control cabinet C1/C2, dynamic control cabinets B1 and B2, data acquisition system fds188u-2x and 1000C furnace.
   img: /assets/imgs/members/just.png      

---
{% include carousel.html %}
{% include about.html %}
{% include projects.html %}
{% include members.html %}
{% include contact.html %}
