<section class="project-section" id="project">
  <div class="container">
    
    <div class="row">  
      <!-- Section Header -->
      <header class="col-md-12 col-md-push-2 col-sm-12 section-header">
        <h2>Project</h2>
        <hr class="normal">
      </header>
    </div>
    
    <div class="row">
      <!-- Section Image -->
      <div class="project-section col-md-12 col-md-push-2 col-sm-12 section-image">
        <img class="rounded mx-auto d-block" src="{{site.baseurl}}/assets/imgs/projects/rise_header.jpg" alt="Addoptml">    
      </div>
    </div>  

    <div class="row justify-content-center">
      <!-- Section Content -->
      <div class="project-section col-md-8 col-md-push-2 col-sm-8 section-content">
        <table class="table">
          <tbody>
            <tr>
              <th>1</th>
              <td><strong>Project title:</strong></td>
              <td>ADDitively Manufactured OPTimized Structures by means of Machine Learning</td>
            </tr>
            <tr>
              <th>2</th>
              <td><strong>Project Number:</strong></td>
              <td>101007595</td>
            </tr>
            <tr>
              <th>3</th>
              <td><strong>Project Acronym:</strong></td>
              <td>ADDOPTML</td>
            </tr>
            <tr>
              <th>4</th>
              <td><strong>Starting date:</strong></td>
              <td>01/05/2021</td>
            </tr>
            <tr>
              <th>5</th>
              <td><strong>Duration in months:</strong></td>
              <td>48</td>
            </tr>
            <tr>
              <th>6</th>
              <td><strong>Call (part) identifier:</strong></td>
              <td>H2020-MSCA-RISE-2020</td>
            </tr>
            <tr>
              <th>7</th>
              <td><strong>Topic:</strong></td>
              <td>MSCA-RISE-2020 Marie Skłodowska-Curie Research and Innovation Staff Exchange (RISE)</td>
            </tr>
            <tr>
              <th>8</th>
              <td><strong>Fixed EC Keywords:</strong></td>
              <td>Computational engineering and computer aided design, Numerical analysis, simulation, optimisation, modelling tools, Machine learning, data mining, statistical data processing, Production technology, process engineering, Sustainable design (for recycling, for environment, eco-design)</td>
            </tr>
            <tr>
              <th>9</th>
              <td><strong>Free keywords:</strong></td>
              <td>Additive manufacturing; topology optimization; nonlinear finite element analyses experimental verification; generative design; deployable structures; humanitarian crises; human shelter structures</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>  
</section>